<%- include('../partials/header') %>

    <h1><%=title%></h1>   

    <img src="/images/about.jpg" class="img-fluid rounded mb-3 w-50" alt="About image">

    <p>This page is about me and my interests.</p>
    <p>I'm Evalyn Alviar, a North Seattle College student developing strong foundations in IT, programming, and digital design. I'm currently working on an associate's degree in Application Development, with the long-term goal of earning a bachelor's degree in Information Technology at a four-year college. My academic focus includes operating systems, Python development, and web authoring, and I approach each project with a detail-oriented, problem-solving mindset.</p>

    <p>I'm motivated by understanding how systems work beneath the surface and enjoy creating work that is both functional and thoughtfully designed. Outside of class, I explore 3D printing, building personal computers, and digital art, which helps me stay creative and continue expanding my technical skill set.</p>
    
    <p><a href="https://www.linkedin.com/in/evalyn-alviar-6908aa28b/">LinkedIn</a></p>
    <p><a href="https://github.com/LynA2B">GitHub</a></p>

    <p><a href="https://unsplash.com/photos/close-up-of-a-3d-printer-head-in-operation-gUSN0c1Big8">Image Source</a>.</p>
    
<%- include('../partials/footer') %>