<%- include('../partials/header') %>

<h1><%= title %></h1>

<img src="/images/contact.jpg" class="img-fluid rounded mb-3 w-50" alt="Contact image">

<p> Work-In-Progress: Contact form </p>
<p>Source: <a href="https://getbootstrap.com/docs/4.5/components/forms/">Bootstrap Forms</a></p>
<p><a href="https://unsplash.com/photos/white-and-black-dice-on-green-textile-idhx-MOCDSk">Image Source</a>.</p>

<%- include('../partials/footer') %>