<%- include('../partials/header') %>

<h1><%= title %></h1>

<img src="/images/gallery.jpg" class="img-fluid rounded mb-3 w-50" alt="Gallery image">

<p>My creative gallery: projects, screenshots, and experiments.</p>
<p><a href="https://unsplash.com/photos/person-holding-blue-and-black-plastic-toy-IpTPp_aPbYE">Image Source</a>.</p>


<%- include('../partials/footer') %>